body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
  .section {
    padding-left: 20px;
    margin-bottom: 30px;
  }
  .section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
  }
  .section h3 {
    margin-top: 20px;
  }

  .header{
    display: flex;
    background-color: #1494c2;
  }
  .links{
    color: white;
    padding: 10px;
  }
  .links p a{
    color:white;
    text-decoration: none;
  }
  .picture img {
    border-radius: 50%;
    max-width: 200px;
    margin: 20px;
  }
  .skill{
    margin-top: 10px;
  }
  .bar{
    margin-top: 10px;
    height: 12px;
    width: calc(100% - 40px);
    border: 1px solid #1494c2;
  }
  .bar > div{
    background-color: #1494c2;
    height: inherit;
  }
  .per-5{
    width: 100%;
  }
  .per-4{
    width: 80%;
  }
  .per-3{
    width: 60%;
  }
  .per-2{
    width: 40%;
  }
  .per-1{
    width: 20%;
  }

  @media screen and (max-width: 480px) {
    .header{
      text-align: center;
      display: block;
    }
  }